.update-item {
    display: flex;     
    color: white;
    align-items: center; /* Align circle and text vertically */
    gap: 8px;  /* Space between circle and text */
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Make it a circle */
    display: inline-block; /* Allows setting width and height */
}

.chapter {
    background-color: #71ff4d;
}

.localization {
    background-color: #e1ff4d;
}

.site-update {
    background-color: #c14dff;
}

.calendar-container {
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    background-color: #16171ad0;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.4em;
}

.calendar-header button {
    background-color: #FF4D4D;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextMonth:active, #prevMonth:active {
    background-color: #2c2c2c;
    color: white;
    translate: 0px 2px;
}

.current-date {
    text-align: center;
}

.calendar-body {
    padding: 10px;
}

.calendar-weekdays {
    display: grid;         /* Ensure grid layout */
    grid-template-columns: repeat(7, 1fr); /* 7 columns, equal width */
    grid-gap: 5px;   
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.calendar-weekdays div {
    text-align: center;    /* Center the text within each day */
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.calendar-days div { 
    padding: 8px;
    border-radius: 5px;
    background-color: #FF4D4D;
    color: white;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: bold;
    text-align: center;    /* Existing, keep this  */
    font-size: 0.9em;
    line-height: 1.8rem;   /* Equal to height, for vertical centering */
    width: 1.8rem;
    height: 1.8rem;
    
}

.calendar-days div:hover {
    background-color: #2c2c2c;
    color: white;
}

.calendar-days div.today { /* Increased specificity */
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
}

.calendar-days div.past {
    background-color: #782525; /* An example color for past days */
  }
  
  .calendar-days div.empty {
    background-color: #78252563; /* An example color for past days */
  }

  .novel {
    color: #ff4dca;
  }

  .status-updates {
    display: flex; /* Arrange items in a row */
    padding-bottom: 10px;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Space between items */
    justify-content: center; /* Center items horizontally */
}

.circle {
    background-color: #FF4D4D;
    border-radius: 25px;
}