/* Credits */

.credit-container {
    display: inline-flex; /* Now behaves like an inline element with flex properties */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    margin-top: 20px;
    border-radius: 10px;
    gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #16171a;
}

.content-wrapper {
    text-align: center; /* Centers inline and inline-flex elements inside it */
}
/* Style for the new container */
.art-and-note-container {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #16171ad0;
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-around; /* Distribute space around the elements */
}

.art_container {
    width: 25%; /* Allow some space for the author note */
}

/* Media query for mobile (adjust as needed) */
@media (max-width: 768px) { 
    .art-and-note-container {
        flex-direction: column; /* Stack items vertically */
    }

    .art_container, .author_note {
        width: 100%; /* Make both elements take full width */
        margin-bottom: 20px; 
    }
}

.chapter_art {
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Makes sure the image is block level for margin auto to work */
    width: 100%; /* Sets the image width to 50% of its containing element */
    margin: 0 auto; /* Centers the image horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
    transition: transform 0.3s ease; /* Smooth transition for scaling effect */
  }
  
  .chapter_art:hover {
    transform: scale(1.05); /* Scales the image up slightly when hovered */
  }

  .author_note {
    background-color: #16171ad0;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    font-style: italic;
    width: 65%; /* Make it similar in width to the art */
}

.author_note {
    background-color: #16171ad0;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
}