#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0d1118dd; /* Fallback semi-transparent background */ 
    display: flex;
    background-image: 
    radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 99%); /* Your background image URL */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

@media (max-width: 500px) { 
    #modal #content-en p {
        font-size: 1.0em; 
        text-align: center;
    }

    #modal #content-en  {
        padding: 20px;
        padding-top: 0px;
    }

    #modal {
        width: 100vw;
        height: 75vh;
        margin-top: 0px;
    }
}


#modal {
    background-color: #1F2738;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 2; /* Above the overlay */
}

.button-container {
    align-content: center;
    text-align: center;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto; /* Center the content */

}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #f1f1f1;
}

#continue-btn, #leave-btn  {
    background-color: #FF4D4D;
    color: #000000;
}

#continue-btn:hover, #leave-btn:hover {
    background-color: #2c2c2c;
    color: white;
}
