:root {
  --background-color: #7d818b00;
  --text-color: #fff;
  --border-radius: 5px;
  --border: 1px solid #ccc;
  --padding: 10px;
  --margin: 5px;
  --autocomplete-bg: #e9e9e9;
  --autocomplete-hover-bg: #f9f9f9;
  --tag-bg: #FF4D4D;
  --placeholder-color: #888;
  --post-bg: rgba(255, 77, 77, 0.123);
  --hover-active-bg: #FF4D4D;
  --search-bar-width: 50%;
}

@keyframes blink {
  50% { opacity: 0; }
}

.blinking {
  animation: blink 1s linear infinite;
}

.search-area {
  position: flex; /* or 'fixed' if you want it to stay in place on scroll */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recipeModalTemplate .recipe-img-container img {
  width: 25%;
  height: auto; /* Maintain aspect ratio */
}

.homefooter span {
  color: #ffffff;
}

.homefooter {
  position: absolute;
  justify-content: center;
  bottom: 20px;
  flex-wrap: wrap;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  gap: 15px;
}




.homefooter select {
  height: 100%;
}

.homefooter a {
  color: #9eb9cf;
}

.homefooter a:hover {
  color: #ffffff;
}

.homefooter p {
  color: rgb(234, 94, 0);
  cursor: pointer; /* Changes the cursor to indicate clickability */
}

.aperture {
  display: flex;
  flex-direction: column; /* This line makes it a column layout */
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: transparent;
}


#return-button {
  position: absolute; /* Position it relative to its nearest positioned ancestor */
  top: 10px; /* 10px from the top */
  left: 10px; /* 10px from the left */
  padding: var(--padding);
  border: var(--border);
  border-color: rgb(234, 94, 0);
  z-index: 10000;
  border-radius: var(--border-radius);
  font-size: 16px;
  background-color: black;
  color: rgb(234, 94, 0);
  cursor: pointer;
}




select {
  position: relative;
}

.folder .search-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  width: var(--search-bar-width);
  border-radius: var(--border-radius);
}

.autocomplete-suggestion {
  background-color: var(--autocomplete-bg);
  border-bottom: var(--border);
  margin: 0 auto;
  padding: var(--padding);
  cursor: pointer;
}

.Meta {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: #ff6f6f;
}

.Sort {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

.Credits {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(255, 122, 255);
}

.Lore {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(255, 106, 0);
}

.Title {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: #FF4D4D;
}

.Profile {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(255, 122, 173);
}

.Mekazoa {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(122, 226, 255);
}

.PrimalSamsara {
  color: black;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(255, 186, 122);
}



.metahash-container {

  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* This creates space between items */
  padding: 5px; /* This adds padding inside the container */
  background-color: transparent; /* This ensures the background is transparent */
}


.autocomplete-suggestion:hover {
  background-color: var(--autocomplete-hover-bg);
}

.search-bar {
  /* ... existing styles ... */
  position: relative;
  z-index: 2; /* above the overlay */
}

.autocomplete-suggestion-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  color: black; /* or any color you want */
  z-index: 1; /* below the text the user is typing */
}

.search-bar {
  position: relative; /* for z-index to work */
  z-index: 1001; /* above the suggestions */
  height: 40px;
  font-size: 16px;
  background: white;
}


.toggle-button {
  padding: var(--padding);
  height: 40px;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 16px;
  background: transparent;
  color: var(--text-color);
}

.search-bar:focus {
  outline: none;
}

.metahash {
  display: inline-block;
  margin-right: var(--margin);
  border-radius: var(--border-radius);
  padding: 3px var(--padding);
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
  color: var(--placeholder-color);
}

.gallery-feed {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--margin);
  padding: var(--padding);
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  margin-left: 25px;
  border-radius: 5px;
  margin-top: 75px;
  margin-right: 25px;
}

.gallery-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjusts how items are aligned on the main axis */
  align-items: stretch; /* Adjusts alignment on the cross axis */
  gap: 10px; /* Optional: Adds space between posts */
}

.post {
  margin: 10px auto;
  background: #402316c4;
  border-radius: var(--border-radius);
  width: 150px;
  height: 150px;
  padding: 5px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer; /* Add this line to set cursor to pointer */
}

.post:hover {
  transform: scale(1.1); /* Example: Increase size on hover */
  background-color: lightgray; /* Example: Change background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example: Add a shadow on hover */
  /* Add any other styles you want for the hover effect here */
}



.metahash:hover,
.metahash.active {
  opacity: 0.5;
}

.gallery-feed.column-mode .post {
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-bottom: var(--margin);
}

.gallery-feed.column-mode {
  grid-template-columns: 1fr;
}


.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0d1017d8;
}

.modal-content {
  background-color: #40231600;
  margin: 15% auto;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 250px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal img {
  max-width: 100%;
  height: auto;
}

.modal-meta {
  margin-top: 20px;
}

/* CSS Styles */
.credit-div {
  text-align: center;
  margin-top: 10px;
}

.post-img-container {
  padding: 10px 0; /* Adds padding above and below the image */
}

.post-img-container img {
  justify-content: center;
  display: flex;
  text-align: left;
  margin: 0 auto;
  border-radius: 25px;
}

.modal-content .post-title {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}

.modal-content .metahash-container {
  padding-top: 10px; /* Adjust padding as necessary */
}

.img-container-for-post {
  display: block;
  flex-direction: column;
  width: 100%;
}

.credit-div {
  justify-content: left;
  text-align: left;
}

.credits-and-likes {
  display: flex;
  flex-direction: row;
}

.likes-container {
  flex-direction: flex-end;
}


.credits-and-likes .like-button {
  background-color: transparent;
}

.credits-and-likes .like-counter {
  color: white;
  font-size: 1.0rem;
}