@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in-scale {
    animation: fadeInScale 0.6s ease forwards;
}

@keyframes fadeOutScale {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.animate-fade-out-scale {
    animation: fadeOutScale 0.6s ease forwards;
}


.falling-leaf {
    width: 50px; /* Adjust size as needed */
    height: auto;
    z-index: -10; /* Ensure it's above other elements */
    transition: transform 3s ease-in;
}

.undefined {
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--random-pastel-color, white); /* Default to white if no color is set */
}


.Sort {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.Artist {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 223, 236); /* Pastel Pink */
}

.ArtType {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 255, 179); /* Pastel Yellow */
}

.Flora {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(179, 255, 179); /* Pastel Green */
}

.Animals {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(179, 255, 255); /* Pastel Cyan */
}

.Gender {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 179, 255); /* Pastel Magenta */
}

.FurColor {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 179, 179); /* Pastel Red */
}

.EyeColor {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(179, 179, 255); /* Pastel Blue */
}

.TransVersion {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 179, 231); /* Pastel Blue */
}

.Characters {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 223, 179); /* Pastel Orange */
}

.Time {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(223, 255, 179); /* Pastel Lime */
}

.Likes {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(223, 179, 255); /* Pastel Purple */
}

.Manga {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 204, 179); /* Pastel Purple */
}

.Maturity {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 179, 246); /* Pastel Purple */
}

.LangVersion {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(179, 201, 255); /* Pastel Purple */
}