.reader-modal {
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: #ecd4b9;
    bottom: 0;
    transition: height 0.3s ease;
    z-index: 100000; /* Ensure it's above other elements */
}

.reader-header {
    height: 40px;
    background-color: #ecd4b9;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Indicates it's clickable */
}

.reader-settings {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Aligns items vertically */
    height: 100%; /* Full height of the header */
}

.menu-item {
    margin: 0 10px; /* Spacing between menu items */
    /* Additional styling for menu items (buttons, select, etc.) */
}


.reader-header:hover {
    background-color: #f1c898;
}

.reader-content {
    position: relative;
    height: calc(100% - 40px);
    overflow-y: hidden; /* Hide overflow in collapsed state */
}

.comic-page {
    width: 100%;
    display: block;
    position: relative; /* Default to relative positioning */
    z-index: 1; /* Default z-index */
    transition: top 1s ease; /* Add transition for smooth animation */
}

/* Styling the scrollbar for .reader-content */
.reader-content::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.reader-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.reader-content::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
    border-radius: 5px;
}

.reader-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
}


@keyframes expandReader {
    0% { height: 20%; }
    50% { height: 10%; }
    100% { height: 100%; }
}

@keyframes collapseReader {
    0% { height: 100%; }
    25% { height: 90%; }
    50% { height: 100%; }
    100% { height: 0%; }
}

.reader-modal.expanded {
    animation: expandReader 1.0s forwards;
}

.reader-modal.collapsed {
    animation: collapseReader 1.0s forwards;
}

.reader-modal.collapsed:hover {
    cursor: pointer;
    opacity: 0.8; /* Adjust as needed */
}
