.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 auto;
    align-items: center;
    width: 100vw;
    border-radius: var(--border-radius);
}

.autocomplete-suggestion {
    background-color: var(--autocomplete-bg);
    border-bottom: var(--border);
    margin: 0 auto;
    padding: var(--padding);
    cursor: pointer;
}

.metahash-container {

    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* This creates space between items */
    padding: 5px; /* This adds padding inside the container */
    background-color: transparent; /* This ensures the background is transparent */
  }
  
  
  .autocomplete-suggestion:hover {
    background-color: var(--autocomplete-hover-bg);
  }
  
  .search-container {
    position: relative;
    /* ... other styles ... */
  }

  .search-bar:focus {
    outline: none;
  }

  .search-bar {
    /* ... existing styles ... */
    position: relative;
    z-index: 2; /* above the overlay */
  }
  
  .autocomplete-suggestion-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    color: black; /* or any color you want */
    z-index: 1; /* below the text the user is typing */
  }
  
  
  .search-container {
    position: relative; /* required for absolute positioning within */
  }
  
  
  .search-bar {
    position: relative;
    z-index: 1001;
    height: 40px;
    font-size: 16px;
    width: 70%; /* Default width for mobile */
    background: #0e1018b1;
    border: none; /* Remove the border */
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    caret-color: white; /* Set the cursor color to white */
}

.aperture button {
  padding: var(--padding);
  border: var(--border);
  border-color: transparent;
  border-radius: var(--border-radius);
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  cursor: pointer;
}




@media (min-width: 600px) { /* Adjust the breakpoint as needed */
    .search-bar {
        width: 25%; /* Increased width for larger screens */
    }
}


  .search-area {
    position: flex; /* or 'fixed' if you want it to stay in place on scroll */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aperture {
    display: flex;
    flex-direction: column; /* This line makes it a column layout */
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    gap: 5px;
    height: 100%;
    background: transparent;
  }