#site_credits {
    display: flex;
    flex-direction: column; /* Ensure main container is column-aligned */
    align-items: flex-start; /* Align items to the start of the column */
    width: auto; /* Adjust width as necessary */
    margin: 20px;
    padding: 20px;
    background-color: #16171ad0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.credits_column {
    display: flex;
    flex-direction: column; /* Make sure each column is also arranged in a column */
    align-items: flex-start; /* Align items to the start */
    margin-bottom: 20px; /* Add some margin at the bottom of each section */
    width: 100%; /* Take full width of the parent container */
}

.credits_column h4 {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile strong {
    text-align: right;
    color: white;
}

.profile {
    display: flex;
    margin: 0 auto;
    gap: 5px;
}

.profile p {
    margin: 0;
    text-align: left;
    margin-right: 10px;
    flex: 1; /* Allow the paragraph to take necessary space */
}

.profile img, .profimg {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 20px; /* Adjust size as necessary */
    height: 20px;
    border-radius: 50%;
}



.profile a {
    text-align: left;
    flex: 1; /* Allow links to take more space if needed */
    white-space: nowrap; /* Prevent the text from wrapping */
}
