.tag-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px; 
}



p span {
    background-color: transparent;
    padding: 0px 0px;
    color: white;
    font-weight: normal; 
    cursor: auto;
}

p span:hover {
    background-color: transparent;
    color: white;
}

span:hover {
    background-color: #2c2c2c;
    color: white;
}

@media (max-width: 500px) { 
    span { 
        font-size: 0.9em; 
    }

} 

.tags {
    margin-top: 20px;
    display: flex;
    gap: 10px;                /* Space between tags */
    flex-wrap: wrap;          /* Wraps to next line on smaller screens */
}



.summary_card {
    display: flex;
    flex-direction: column;
    background-color: #16171ad0;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#summary-content-en {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1000px) {
    .summary_card {
        display: flex;
        flex-direction: row;
    }

    #summary-content-en {
        width: 55%; /* Keeps existing width */
        display: flex;
        flex-direction: column;
    }

    .tag-container {
        width: 40%;
        align-items: flex-start; /* Align tags to the start, preventing horizontal stretching */
        display: flex;
        flex-direction: row; /* Stack tags vertically */
        justify-content: center; /* Center tags vertically */
        gap: 5px; /* Adds gap between tags */
    }
}

.tag-container span {
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #FF4D4D;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tag-container .general-tag {
    background-color: #ffa4a4;
}

/* Hover effect for tags */
.tag-container span:hover {
    background-color: #2c2c2c;
    color: white;
}

/* Mobile view adjustments */
@media (max-width: 999px) {
    .summary_card {
        display: flex; /* Stack summary and tags vertically */
    }

    .tag-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center tags in the available space */
        gap: 5px; /* Adds gap between tags */
    }

    .tag-container span {
        /* Ensures tags are sized appropriately for smaller screens */
        padding: 5px;
        font-size: 0.9em; 
    }
}

.summary_card strong {
    color: white;
}

.stat-holder p, .stat-holder span {
color: #FF4D4D;
}